@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header-container {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: auto;
    width: 40px;
    margin-left: 10px;
}

li {
    display: inline-block;
    margin-right: 20px;
}

.header-link-text {
    display: flex;
    align-items: center;
    font-size: 18px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero-text-container {
    display: flex;
    background-image: url(img/ash-lynx.jpg);
    background-size: cover;
    flex-wrap: wrap;
    padding: 20px;
    height: 600px;
    align-items: center;
}

.first-background {
    background-image: url(img/ash-lynx.jpg);
    background-size: cover;

}

.hero-text {
    width: 500px;
    height: 400px;
    color: #F9FAF8;
    font-size: 18px;
    margin-left: 6em;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 25px;
}

.button1 {
    background-color: #fdfd96;
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 6px;
    border: 2px solid black;
    color: #191919;
    font-weight: bold;
    font-size: 16px;
}

.random-container {
    display: flex;
    min-height: 350px;
    background-color: #ffffec;
    justify-content: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.random {
    width: 180px;  
}

img {
    height: auto;
    width: 170px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.random p {
    color: #1F2937;
}


h2 {
    color: #1F2937;
    text-align: center;
    margin: 40px 0px;
    font-size: 36px;
    font-weight: bolder;
}

.random p {
    text-align: justify;
    font-size: 18px;
}

.second-background {
    background-image: url(img/ash-eiji.jpg);
    background-size: cover;
}

.quote-text-container{
    justify-content: center;
    align-items: center;
}
.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #E5E7EB;
    width: 600px;
}

.call-to-action-container {
    background-color: #ffff;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    display: flex;
    width: 70%;
    background-color: #b0c2f2;
    border-radius: 10px;
    padding: 20px;
    justify-content: space-between;
}

.call-to-action,
.button2 {
    flex: none;
}

.button2 {
    padding: 10px 20px;
    border-radius: 6px;
    border: 2px solid black;
    color: #191919;
    font-weight: bold;
    font-size: 16px;
    background-color: transparent;
}
